@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


this is textbox <input type="text" /> <hr />
this is password:<input type="password" value="123"> <hr />
this is checkbox 1 :<input type="checkbox" /> 
	checkbox 2 :<input type="checkbox" /> 
	checkbox 3 :<input type="checkbox" /> <hr />
this is radio button 1:<input type="radio" name="myRadio"> 
	radio button 2: <input type="radio" name="myRadio"> 
	radio button 3:<input type="radio" name="myRadio"> <hr />
this is range <input type="range" value="100">


<a href=/Home/Contact>Contact</a>
